.example-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 15px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(201,46,46,1) 0%, rgba(147,0,212,1) 33%, rgba(201,46,46,1) 66%, rgba(147,0,212,1) 100%);
    background-size: 400% 400%;
    color: white;
    animation: gradient 12s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}